.SurveyList {
  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}