@import '../../variables.scss';

.Button {
  padding: 0.87rem 2rem;
  background-color: $primary;
  text-transform: uppercase;
  color: $white;
  border: none;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.disabled {
    background-color: $disabled;
    pointer-events: none;
    cursor: default;
  }

  > i {
    font-size: 1.3rem;
    line-height: 0;

    &.align-icon-left {
      margin-right: 1rem;
    }

    &.align-icon-right {
      margin-left: 1rem;
    }
  }

}