@import '../../variables.scss';

.Navbar {
  z-index: 1;
  display: grid;
  grid-template-columns: minmax(12.5vw, 1fr) 1fr minmax(12.5vw, 1fr);

  .brand-logo {
    position: unset;
    left: unset;
    transform: unset;
    flex-grow: 0;
    padding-left: 35px;
    font-family: 'Comfortaa';
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;

    &::first-letter {
      color: $primary;
    }
  }

  .nav-list {
    position: relative;
    display: flex;
    justify-content: flex-end;
    color: black;
    width: 75vw;
    max-width: 1016px;
    font-family: 'Comfortaa';

    > * {
      display: flex;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .credits {
      padding: 0 2rem;
    }
  }

  .dropdown {
    padding-right: 35px;
    margin: 0;
    min-height: 64px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: black;

    > i {
      min-height: 64px;
      margin: 0;
      display: flex;
      align-items: center;
    }
  }
}
