@import '../variables.scss';

.Header {
  .nav-list {
    position: relative;

    > * {
      padding: 0 15px;
    }

    .dropdown {
      margin: 0;
      min-height: 64px;
      display: flex;
      align-items: center;
      cursor: pointer;

      > i {
        min-height: 64px;
        margin: 0;
        display: flex;
        align-items: center;
      }
    }

    .dropdown:hover {
      background-color: $red-hover;
    }
  }
}
